
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
       url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Medium.woff2') format('woff2'),
       url('../fonts/OpenSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
       url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cantata One';
  src: url('../fonts/CantataOne-Regular.woff2') format('woff2'),
       url('../fonts/CantataOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



body {
  @apply font-openSans;
}

  .nav-link {
    @apply text-maribrown hover:opacity-75 font-semibold sm:font-semibold text-left text-sm sm:text-base transition-opacity duration-300 w-fit  ;
  }
  
  .nav-link.active {
    @apply   sm:text-black ; /* ou a cor desejada para a seção ativa */
  }


  @layer utilities {
     .text-shadow {
       text-shadow: 0.08em 0.08em 0em rgba(0,0,0,0.4)
    }
    .text-shadow-low {
      text-shadow: .09em 0.08em 0em rgba(0,0,0,0.4)
    }

  }


  .group:hover .opacity-0 {
    opacity: 1;
    right: 14px;
  }
  

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-slideDown {
    animation: slideDown 1s ease-out;
  }
  

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animated-slideUp {
    animation: slideUp 0.5s ease-out;
  }

  
 